body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  font-size: 15px;
  line-height: 1.5;
}
.nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: block;
}
.nav-left {
  padding: 8px 16px;
  overflow: hidden;
  display: block;
  color: #000;
  background-color: #fff;
  letter-spacing: 4px;
  box-sizing: inherit;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.nav-btn-1 {
    white-space: normal;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
  }
.nav-btn {
  white-space: normal;
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
}

.nav-right {
  display: block;
  float: right;
  letter-spacing: 4px;
  box-sizing: inherit;
}

.head1 {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto;
  max-width: 1600px;
  min-width: 500px;
}

.head1-img {
  width: 1600px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.head1-div {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  padding: 12px 24px;
}

.head1-line {
  font-weight: 400;
  margin: 10px 0;
}

.section-main {
  display: block;
  margin: auto;
  padding: auto;
  max-width: 1100px;
}

.about {
  justify-content: center;
  display: flex;
  box-sizing: inherit;
  flex-wrap: nowrap;
  padding-top: 64px;
  padding-bottom: 64px;
}

.about-img {
  padding: 12px 24px;
  width: 50%;
}

.about-img-main {
  height: auto;
  opacity: 0.75;
  border-radius: 4px;
  vertical-align: middle;
  border-style: none;
  width: 1600px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.about-text {
  padding: 12px 24px;
  width: 50%;
  display: block;
}

.text-center {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px;
}

.text-center-2 {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 10px 0;
  font-size: 18px;
}

.text-large {
  font-size: 18px;
}

.text-extra-large {
  font-size: 18px;
  color: #757575;
}

.text-1 {
  letter-spacing: 4px;
  font-weight: 400;
  margin: 10px 0;
  font-size: 20px;
}

.text-grey {
  color: #757575;
}

.contact {
  box-sizing: inherit;
  flex-wrap: nowrap;
  padding-top: 64px;
  padding-bottom: 64px;
}

.text-12 {
  letter-spacing: 4px;
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px;
}

.text-blue {
  color: #607d8b;
  font-size: 18px;
  box-sizing: inherit;
}

.text-input {
  padding-top: 16px;
  padding-bottom: 16px;

  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;

  overflow: visible;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  padding-block: 15px;
  padding-inline: 5px;
}

.text-btn{
    
    color: #000;
    background-color: #e4e2e2; 
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none; 
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    height: 40px;
}

.footer{
    color: #000;
    background-color: #e4e2e2; 
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}


.text-m{

    
    background-color: #f1f1f1;
}
 
@media screen and (max-width: 768px) {
    .section-main{
        
    max-width: 334px;
    }
    .nav-left {
      padding: 8px 8px;  
    }
    
    .nav-btn {
      padding: 8px 8px; 
    }
    
    .head1-img {
      width: 100%; 
    }
    
    .about,
    .contact {
      flex-direction: column;  
    }
    
    .about-img,
    .about-text {
      width: 100%;  
      padding: 12px 0;  
    }
    
    .head1-div,
    .head1-line,
    .text-center,
    .text-center-2,
    .text-large,
    .text-extra-large,
    .text-1,
    .text-grey,
    .text-12,
    .text-blue,
    .text-input,
    .text-btn,
    .footer {
      margin-left: 8px;  
      margin-right: 8px;  
    }

    
  }
   
  @media screen and (max-width: 480px) {

    .section-main{
        
        max-width: 480px;
        }
    .head1-div,
    .head1-line,
    .text-center,
    .text-center-2,
    .text-large,
    .text-extra-large,
    .text-1,
    .text-grey,
    .text-12,
    .text-blue,
    .text-input,
    .text-btn,
    .footer {
      font-size: 14px; 
    }
  }